/* ================================= 
 Fonts
==================================== */
@font-face {
    font-family: "trade-gothic-bold";
    src: url("../fonts/trade-gothic/trade-gothic-bold.ttf") format('truetype');
} 
@font-face{
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular.otf") format(opentype);
}

@font-face{
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold.otf") format(opentype);
}

@font-face{
    font-family: "proxima-nova-light";
    src: url("../fonts/proxima-nova/proxima-nova-light.otf") format(opentype);
}

/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
  }

body{
    display: flex;
    flex-direction: column;
    background: #000;
    color: #878787;
    font: 1em/1.5 "proxima-nova-light",Helvetica, Arial, sans-serif;
}

h1 {  
    font: 4rem "trade-gothic-bold",Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 3px 3px 1px rgba(0,0,0,.8);
    }

ul {
    text-align: center;
    border-bottom: 2px dotted gray;
    background: black;
} 

/* ================================= 
  Base Layout Styles
==================================== */

/* id Styles-------------------- */
#intro {
    color:gainsboro;
    padding: 50px;
   
}

/* class styles----------------*/
.main-header {
    background: 
        linear-gradient(0deg,#000,transparent 100%),
         black url('../img/header/white-high-background.jpg') no-repeat center;
    background-size: cover;
    text-align: center;
    }


/* Navigation Styles------------ */

.main-nav {
    text-align: center;
    text-transform: capitalize;
}
.main-nav li {
    font-size: 1.7rem;
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
    border-radius: 30%;
  
}    

/* } 
.main-footer {
    height: 100px;
    background: 
        linear-gradient(0deg,#000,transparent 100%),
         #ffa949 url('../img/header/bbhistory.jpg') no-repeat center;
    background-size: cover;
    } */






/* pdudeo class------------------ */

a:link {
    text-decoration: none;
    color: #000;
    font-family: 'proxima-nova-light'

} 
    

/* ================================= 
 FlexBox
==================================== */

.main-nav {
    display: flex;
}



/* ================================= 
  Media Queries
==================================== */
@media (min-width:769px){
  
    





	/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}


}