/* ================================= 
 Fonts
==================================== */
@font-face {
    font-family: "trade-gothic-bold";
    src: url("../fonts/trade-gothic/trade-gothic-bold.ttf") format('truetype');
} 
@font-face{
    font-family: "proxima-nova-regular";
    src: url("../fonts/proxima-nova/proxima-nova-regular.otf") format(opentype);
}

@font-face{
    font-family: "proxima-nova-bold";
    src: url("../fonts/proxima-nova/proxima-nova-bold.otf") format(opentype);
}

@font-face{
    font-family: "proxima-nova-light";
    src: url("../fonts/proxima-nova/proxima-nova-light.otf") format(opentype);
}

/* ================================= 
  Base Styles
==================================== */
/* Element Styles------------ */

* {
    box-sizing: border-box;
  }

body{
    background: #000;
    color: white;
    font: 1em/1.5 "proxima-nova-light",Helvetica, Arial, sans-serif;
    height: 100vh;
}

h1 {  
    font: 4em "trade-gothic-bold",Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 3px 3px 1px rgba(0,0,0,.8);
    }

ul {
    text-align: center;
    background: black;
    margin: 0;
    padding: 0;
    list-style: none;
} 

p {
    font-size: 1.1em;
}

h2 {
    font: 2em "proxima-nova-bold",Helvetica, Arial, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    -webkit-text-stroke: .2px #ffffff;
    text-shadow: 5px 5px 1px rgba(0,0,0,.8);
}


a {
    text-decoration: none;
    color: white;
    font-family: 'proxima-nova-light';
} 


/* class styles----------------*/
.main-header {
    background: 
        linear-gradient(0deg,#000,transparent 100%),;
    background-size: cover;
    text-align: center;
    padding-top:1.7em;
    margin-bottom: 1.7em;
    }
   
.main-footer {
    font-size: .6em;
    text-align: center;
}

.astyle{
    text-align: center;
}

.other-header {
    background: 
        linear-gradient(0deg,#000,transparent 100%);
    background-size: cover;
    margin-bottom: 1.7em;
}


.continer {
    margin: auto;

}

/* Navigation Styles------------ */


.main-nav {
    text-align: center;
    text-transform: capitalize;
}
    

/* pdudeo class------------------ */



/* ================================= 
Layout
==================================== */

/* launchpage------------------ */

.body-lp {
    display: grid;
    grid-template-rows: 200px 2fr 50px;
    grid-template-areas:
    "head"
    "body"
    "foot";
    min-height: 100vh;
}

.header {
    grid-area: head;
}
.launchpad {
    grid-area: body;
    display: grid;
    grid-template-rows: repeat(4, 2fr);
    grid-gap: 15px;
    grid-template-areas: 
        "one"
        "second"
        "third"
        "fourth";

}

footer {
    grid-area: foot;
    display: flex;
    margin: auto;
}

/*---- Launchpad Grid -----*/
.one{
    display: flex;
    justify-content: center;
    grid-area: one;
    background: 
        url("../img/header/white-high-background.jpg")
        center/ cover
        scroll
        no-repeat
        border-box
        content-box;

}

.second {
    display: flex;
    justify-content: center;
    grid-area: second;
    background: url("../img/training/CONNECT_ARCHIVE.JPG" )
        center/ cover
        scroll
        no-repeat
        border-box
        content-box
    ;
}

.third {
    display: flex;
    justify-content: center;
    grid-area: third;
    background: url("../img/detail_type2.jpg")
        center/cover
        no-repeat
        scroll
        border-box
        content-box;
}

.fourth {
    grid-area: fourth;
    justify-content: center;
    display: flex;
    background: url("../img/shoe_wall.jpg" )
        center/cover
        no-repeat
        scroll
        border-box
        content-box;
}

/* sa page------------------ */



.other-header{
    height: 100vh;
    text-align: center;
    display:flex;
    margin-bottom: 1.7em;
    background: url("../img/sa_img.png" )
    center/cover
    no-repeat
    scroll
    border-box
    content-box;

}

    .container {
        margin: auto;
    }


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 593px) {
    .body-lp {
        grid-template-rows: 150px 2fr 50px;
    }

}

@media (min-width: 769px) {
   
    .launchpad {
        display: grid;
        grid-template-rows: 200px 150px 150px;
        grid-template-columns: repeat(3,1fr);
        grid-template-areas: 
            "one one one"
            "second second third "
            "fourth fourth fourth ";
    }

        /*---- Launchpad Grid -----*/
    .one{
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: one;
    }


    .second {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: second;
    }

    .third {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: third;
    }

    .fourth {
        display: flex;
        flex-direction: column;
        justify-content: center;
        grid-area: fourth;
    }

    /* ---- SA Layout ---- */


        .side_head {
           font-size: 5em;

        }  


    .man {
        display: grid;
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 15px;
        grid-template-areas: 
        " man man man ."
        "up . lin lin"
        "out out . ."
        "lea .  text . "
        ". . other other";

    }

    #man{
        grid-area: man;
    }

    #up{
        grid-area: up;
    }

    #lin{
        grid-area: lin;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
        grid-template-areas:
        "img tex";

    }
        
            .sa_img {
                grid-area: img;
                margin:auto;
                
            }

            .sa_text {
                grid-area: tex;
                display:flex;
                flex-direction: column;
                justify-content: center;
            }
            


    #out{
        grid-area: out;
    }

    #lea{
        grid-area: lea;
    }

    #text{
        grid-area: text;
    }

    #other{
        grid-area: other;
    }

}

@media (min-width: 1020px) {
    .launchpad{
    grid-template-columns: repeat(2,1fr);
    grid-template-areas: 
        "one one"
        "second third "
        "second fourth  ";
    }

    .astyle {
        font-size: 2.7em;
    }


    /*----SA PAGE-----*/

    .side_head {
        font-size: 6em;

     }  

/* ---- Float clearfix ---- */

	.clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
    

