/* ================================= 
  Base Element Styles
==================================== */
* {
    box-sizing: border-box;
  }

body{
    background: #000;
    color: #878787;
    font: 1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {  
    font-size: 4rem;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.3;
    text-shadow: 3px 3px 1px rgba(0,0,0,.8);
    }

ul {
    height: 500px;
    text-align: center;
    margin: auto;
    border-bottom: 2px dotted gray;
    padding: 100px 0 100px;
    background: black;
} 

/* ================================= 
  Base Layout Styles
==================================== */

/* id Styles-------------------- */
#intro {
    color:gainsboro;
    padding: 50px;
   
}

/* class styles----------------*/
.main-header {
    background: 
        linear-gradient(0deg,#000,transparent 100%),
         black url('../img/header/bbhistory.jpg') no-repeat center;
    background-size: cover;
    }
.main-header,

/* Navigation Styles------------ */

.main-nav {
    text-align: center;
}
.main-nav li {
    text-transform: capitalize;
    font-size: 1.7rem;
    background-color: whitesmoke;
    border: 5px solid whitesmoke;
    border-radius: 30%;
  
}    

/* } 
.main-footer {
    height: 100px;
    background: 
        linear-gradient(0deg,#000,transparent 100%),
         #ffa949 url('../img/header/bbhistory.jpg') no-repeat center;
    background-size: cover;
    } */






/* pdudeo class------------------ */

a:link {
    text-decoration: none;
    color: white;

} 
    

/* ---- Layout Containers ---- */


.container {
    padding-left: 1em;
    padding-right: 1em;
}


/* ================================= 
  Media Queries
==================================== */
@media (min-width:769px){
    .wrap {
		min-height: calc(100vh - 89px);
	}
    .container {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
  

    }
    .main-nav li {
        display: inline-block;
        text-transform: capitalize;
        font-size: 1.7rem;
        
    }   
